:root {
    --main-background: #273F2F;
    --form-background: #344e40;
    --text-color: #FFFFFC;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Poppins", sans-serif;
    background-color: var(--main-background);
    color: var(--text-color);
}

main {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

main > div {
    padding: 0 80px;
}

.image-container {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
}
 
.cat-image {
    max-height: 100%;
}

.title-container,
.credits-footer {
    position: absolute;
    color: var(--text-color);
}

.title-container {
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-top: 65%;
    padding: 1rem;
    background-color: #1d1d1da9;
    display: flex;
    justify-content: center;
}

.credits-footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}

svg {
    margin-right: -5px;

}

.header-container {
    font-size: 2rem;
    margin: 175px 0 65px;
}

.header-container > span {
    font-style: italic;
    
}

label {
    text-transform: uppercase;
    font-size: 0.8rem;
}

form {
    width: 100%;
    padding: 20px 80px;
    background-color: var(--form-background);
    box-shadow: #00000048 2px 2px 8px;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}

form > .rows {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.rows > .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.form-row > .label-input{
    display: flex;
    flex-direction: column;
}

.form-row input {
    font-size: 1rem;
    width: 350px;
    border-radius: 6px;
    padding: 5px;
    border: 2px solid #ffffffbd;
    outline: none;
    background-color: var(--form-background);
    color: var(--text-color);
}

.form-row input:not(:placeholder-shown):invalid {
    border: 2px solid #ca6264;
    background-color: #ca626434;
}

.form-row input:focus,
.form-row input:invalid:focus {
    border: 2px solid #6594ec;
    background-color: inherit;
    box-shadow: #00000050 2px 2px 9px;
}

::placeholder {
    color: #fffffc54;
}

.button-container > button:focus{
    outline: 2px solid #6594ec;
}
    
legend {
    font-size: 2rem;
}

.error-message {
    font-size: 0.73rem;
    margin-top: 3px;
    color: #ca6264;
    visibility: hidden;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button-container > button {
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    margin: 35px 0;
    width: 225px;
    border-radius: 15px;
    padding: 12px 25px;
    background-color: #785964;
    color: #FFFFFC;
    box-shadow: #02030359 2px 2px 7px;
    transition: 0.1s all ease;
}

.button-container > button:hover {
    transform: translateY(-3px);
    color: #020303;
    background-color: #d1a3b3;
}

.button-container > button:active {
    transform: translateY(0px);
    box-shadow: #02030359 1px 1px 5px;
}

a {
    text-decoration: underline;
    color: inherit;
}